[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Uu]ser[Ss]ettings/
.vs/
.idea/
Builds/
TestResults/
**/bin/
**/obj/
*.csproj
!Tests/*.csproj
*.sln
*.pidb
*.booproj
*.user
*.suo
*.tmp
*.log
.DS_Store
Songs/*
!Songs/README.md
